.client-home{
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.client-home .home-container{
    display: flex;
    margin-right: 220px;
}

.client-home .account-container{
    width: 220px;
    height: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(161, 161, 161);
}

.client-home .profile-pic-container{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    overflow: hidden;
}

.client-home .profile-pic{
    width: 100%;
    height: 100%;
}

.client-home #fullname{
    font-size: 23px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.client-home #acc-setting{
    width: 150px;
    height: 30px;
    background-color: rgb(3, 117, 247);
    color: white;
    border: none;
    cursor: pointer;
}

.client-home #acc-setting:hover{
    background-color: rgb(128, 187, 255);
}

.client-home .popular-services-container, .client-home .view-all-services-container, .client-home .how-it-work-container{
    margin-bottom: 10px;
    width: 600px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(161, 161, 161);
}

.client-home .popular-services-container{
    overflow: hidden;
}

.client-home .popular-services-container h1{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.client-home .popular-services-div{
    display: flex;
    flex-wrap: wrap;
}

.client-home .popular-services{
    color: rgb(3, 117, 247);
    border: 2px solid #0375f7;
    border-radius: 20px;
    margin: 20px;
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.client-home .popular-services > img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 15px;
}

.client-home .popular-services:hover, .client-home .view-services-btn:hover{
    background-color: rgb(175, 212, 255);
}

.client-home .view-all-services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.client-home .view-all-services-container > img{
    width: 80px;
    height: 80px;
}

.client-home .view-all-services-container > p {
    color: rgb(145, 145, 145);
}

.client-home .view-services-btn{
    width: 150px;
    height: 40px;
    color: rgb(3, 117, 247);
    border: 2px solid #0375f7;
    border-radius: 20px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
}

.client-home .how-it-work-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client-home .how-it-work-container > h1{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.client-home .how-it-work-container .number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0375f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.client-home .how-it-work-container > div{
    margin: 20px;
    width: 300px;
    display: flex;
    align-items: center;
}

.client-home .how-it-work-container > p{
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1200px){
    .client-home .home-container{
        margin-right: 0;
    }
}

@media (max-width: 850px){
    .client-home .account-container{
        margin-right: 0;
    }

    .client-home .home-container{
        flex-direction: column;
        align-items: center;
    }

    .client-home .account-container, .client-home .popular-services-container, 
    .client-home .view-all-services-container, .client-home .how-it-work-container{
        width: 95vw;
        border-radius: 0;
        margin-bottom: 10px;
    }
}

