.pagination-controls{
    display: flex;
    align-items: center;
    position: absolute;
    top: 150px;
    right: 15px;
}

.pagination-controls button{
    padding: 5px 10px;
    margin: 5px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

.pagination-controls button:not(:disabled):hover{
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}