.availability{
    display: flex;
    padding: 190px 20px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    position: relative;
}

.availability > .top-section{
    top: 80px;
    left: 30px;
    position: absolute;
    font-size: 15px;
}

.availability > .top-section h1{
    color: black;
    margin-bottom: 10px;
}

.availability > .top-section span{
    color: rgb(3, 117, 247);
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
}

.availability > .top-section span:hover{
    text-underline-offset: 2px;
}

.calendar-container ul, .calendar-container li {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.calendar-container {
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    position: relative;
}

.legend{
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.legend > div{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-weight: 600;
}

.calendar-container #today{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #6332c5;
}

.calendar-container #available-day{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #4bdf06;
}

.calendar-container .calendar-header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    background-color: rgb(3, 117, 247);
}

.calendar-header .calendar-navigation {
    display: flex;
}

.calendar-header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    font-size: 1.9rem;
    color: #fff;
}

.calendar-navigation span:last-child {
    margin-right: -10px;
}

.calendar-header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
    color: #fff;
}

.calendar-body {
    padding: 20px;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 20px;
}

.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-body .calendar-dates li {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active, .calendar-dates li.available {
    color: #fff;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
}

.calendar-dates li.available::before {
    background: #4bdf06;
}

.calendar-dates li.active::before {
    background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
    background-color: #dbdbdb;
}

.availability .instructions{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-color: rgb(109, 109, 109, 0.5);
}

.availability .instructions .container{
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 300px;
    position: relative;
}

.availability .instructions span{
    position: absolute;
    font-size: 20px;
    right: 35px;
    cursor: pointer;
}

.availability .instructions .container h2{
    text-align: center;
    margin-bottom: 30px;
}

.availability .instructions .container h3{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.availability .instructions .container li{
    line-height: 2;
}

@media screen and (max-width: 600px){
    .availability{
        justify-content: start;
    }
}

@media screen and (max-width: 1024px){
    .availability{
        flex-direction: column;
    }

}

@media screen and (max-width: 535px) {
    .calendar-dates li{
        font-size: 12px;
    }

    .calendar-dates li::before{
        width: 45px;
        height: 45px;
    }

    .calendar-body .calendar-weekdays li {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .calendar-dates li::before{
        width: 35px;
        height: 35px;
    }
}