.your-services{
    margin: 0 20px;
    display: flex;
    padding-top: 80px;
    flex-direction: column;
}

.your-services .search-bar{
    height: 35px;
    border-radius: 10px;
    width: 200px;
    border: 1px solid rgb(158, 158, 158);
    padding-left: 10px;
    outline: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.your-services .select-category{
    width: 200px;
    height: 30px;
    margin-bottom: 50px;
}

.your-services .services-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 20px;
}

.your-services .service {
    display: flex;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px 3px rgb(177, 177, 177);
    flex-direction: column;
    border-radius: 20px;
}

.your-services .buttons-container{
    display: flex;
    justify-content: start;
}

.your-services button{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
}

.your-services img{
    width: 100%;
}

.your-services .service > h1{
    margin-top: 40px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}


.your-services span{
    visibility: hidden;
    font-size: 15px;
    position: absolute;
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 2px;
    opacity: 0;
    z-index: 1;
    padding: 3px;
}

.your-services .tool-tip-price{
    right: 50%;
    top: -20px;
    transform: translateX(50%);
    width: 70px;
}

.your-services button:hover .tool-tip-price{
    visibility: visible;
    opacity: 1;
}

.your-services .tool-tip-remove{
    right: 50%;
    top: -20px;
    transform: translateX(50%);
}

.your-services button:hover .tool-tip-remove{
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 1000px){
    .your-services .services-container{
        grid-template-columns: repeat(3, 400px);
    }
}