.home-header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}


.home-header h1 a{
    text-decoration: none;
    font-size: 36px;
    margin-left: 30px;
    color: rgb(3, 117, 247);
}

.home-header .nav-button {
    height: 40px;
    width: 60px;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.home-header .nav-icon{
    width: 20px;
    height: 20px; 
}

.home-header > ul{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    list-style: none;
}

.home-header a{
    margin-right: 20px;
    font-size: 19px;
    text-decoration: none;
}

.home-header a, .home-text h1 {
    color: rgb(3, 117, 247);
}

.home-header a:hover{
    text-decoration: underline;
}

.home-header .nav-dropdown{
    position: fixed;
    padding: 30px;
    width: 400px;
    top: 65px;
    right: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    text-align: center;
    display: flex;
    border-radius: 10px;
    z-index: 1;
}

.home-header .nav-dropdown a:hover, .hide-btn:hover{
    background-color: rgb(211, 211, 211);
}

.home-header .nav-dropdown a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    margin-right: 0;
}

.home-header .nav-dropdown a{
    text-decoration: none;
    color: rgb(3, 117, 247);
    z-index: 2;
}

@media (max-width: 600px){
    .home-header .nav-button{
        display: block;
    }

    .home-header ul{
        display: none;
    }

}

@media (max-width: 500px){
    .home-header .nav-dropdown{
        right: 50%;
        transform: translateX(50%);
    }

}