.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  opacity: 0;
  transform: translateX(-150px);
  transition: transform 1s ease-out;
}

.Home .textDiv {
  width: 600px;
  margin: 0 30px;
}
  
.Home .textDiv .tagline {
  font-size: 3em;
  color: rgb(3, 117, 247);
  margin-bottom: 10px;
  opacity: 0;
}

.Home .textDiv .tagline.animate {
  animation: slideHomeText 0.8s ease-in-out forwards 0.5s;
}

.Home .platform {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.7;
  opacity: 0;
}

.Home .platform.animate{
  animation: slideHomeText 1.5s ease-in-out forwards 1s ;
}

@keyframes slideHomeText{
  from{
    opacity: 0;
    transform: translateY(20px);
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}
  
.Home button{
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  transition: transform 0.5s ease;
}

.Home button.animate{
  animation: animateButton 0.8s ease-in-out 1.8s forwards;
}

@keyframes animateButton{
  from{
    opacity: 0;
    transform: translateX(-50px);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.Home .signup-btn{
  margin: 10px 10px 10px 0;
  background-color: rgb(3, 117, 247);
  color: white;
}

.Home .login-btn{
  margin: 10px;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(161, 161, 161);
}
  
.homeLogo {
  width: 600px;
  height: 600px;
}

.how-it-work-section{
  display: flex;
  background-color: rgb(233, 233, 233);
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  opacity: 0;
  transform: translateX(-150px);
  transition: transform 1s ease-out;
}

.how-it-work-section img{
  width: 50%;
  height: 400px;
  margin-right: 20px;
}

.how-it-work-section .how-it-work-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  background-color: white;
  margin: 20px 0;
}

.how-it-work-section .how-it-work-container > h1 {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.how-it-work-section .how-it-work-container .number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0375f7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 20px;
  font-size: 20px;
  box-shadow: 0 0 15px 5px rgb(150, 199, 255);
}

.how-it-work-section .how-it-work-container > div {
  margin: 20px;
  width: 300px;
  display: flex;
  align-items: center;
}

.how-it-work-section .how-it-work-container > p {
  font-size: 20px;
  font-weight: 500;
}

.popular-services{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
  opacity: 0;
}

.popular-services h1{
  font-size: 40px;
}

.popular-services > img{
  width: 700px;
  height: 700px;
}

.popular-services >div{
  width: 40%;
}

.popular-services .popular-services-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.popular-services button{
  background-color: white;
  border: 2px solid #0375f7;
  height: 38px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  padding: 20px 20px;
  color: #0375f7;
  font-size: 17px;
  cursor: pointer;
}

.popular-services button:hover{
  background-color: #badaff;
}

.popular-services button img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.about{
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 100px 50px;
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 1s ease-out;
}

.about h1{
  color: #0375f7;
  text-decoration: underline;
  font-size: 45px;
}

.about p{
  font-size: 20px;
  line-height: 2;
}

.about div{
  width: 50%;
}

.about img{
  width: 50%;
  height: 500px;
}

.home-footer{
  margin-top: 50px;
  background-color:  #0375f7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-footer > div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-footer > div > div{
  margin: 30px 50px;
}

.home-footer{
  color: white;
}

.home-footer a{
  color: white;
  text-decoration: none;
}

.home-footer img{
  width: 200px;
  height: 80px;
}

.home-footer li{
  list-style-type: none;
  line-height: 1.8;
}

.home-footer li{
  cursor: pointer;
}

.home-footer li:hover{
  text-decoration: underline;
}

.home-footer h2{
  margin-top: 50px;
  text-align: center;
}

.Home.animate, 
.how-it-work-section.animate, 
.about.animate,
.popular-services.animate {
  animation: section-animation  0.8s ease-in-out forwards;
}

@keyframes section-animation {
    from{
      opacity: 0;
      transform: translateX(-150px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
}

@media screen and (max-width: 1000px){
  .popular-services >div{
    width: 80%;
  }
}

@media screen and (max-width: 700px){
  .about{
    flex-wrap: wrap;
  }

  .about div{
    text-align: center;
    width: 100%;
  }

  .about img{
    width: 100%;
  }
}

@media screen and (max-width: 650px){
  .how-it-work-section{
    flex-direction: column;
    padding-top: 20px;
  }

  .how-it-work-section img{
    width: 90%;
    margin-right: 0;
  }

  .how-it-work-section .how-it-work-container{
    width: 100%;
  }

}
@media screen and (max-width: 800px){

  .Home .textDiv {
    width: 100%;
    text-align: center;
  }

  .homeLogo{
    display: none;
  }

  
}

@media screen and (max-width: 325px){
  .home-footer > div > div{
    margin: 30px 10px;
  }
  
}