.available-time{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(105, 105, 105, 0.5);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-time .container{
    padding: 30px;
    background-color: white;
    border-radius: 20px;
}

.available-time .time-container{
    margin-top: 50px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.available-time .time-container > div{
    height: 25px;
    border: 1px solid rgb(175, 175, 175);
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.available-time .time-container > div:first-child::after{
    content: "Start Time";
    position: absolute;
    top: -20px;
    left: 0;
    color: grey;
}

.available-time .time-container > div:last-child::after{
    content: "End Time";
    position: absolute;
    top: -20px;
    left: 0;
    color: grey;
}

.available-time .time-slots{
    left: 0;
    right: 0;
    top: calc(100% + 5px);
    list-style: none;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
}

.available-time .time-slots li{
    padding: 10px;
    cursor: pointer;
}

.available-time .time-slots li:hover{
    background-color: rgb(190, 190, 190);
}

.available-time button{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.available-time .set-btn{
    background-color: rgb(3, 117, 247);
    color: white;
    border: none;
}

.available-time .set-btn:hover{
    background-color: rgb(144, 196, 255);
}