.change-password-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.change-password-page p{
    color: red;
}

.change-password-page > img {
    width: 650px;
    height: 650px;
}

.change-password-page .container{
    width: 450px;
    padding: 30px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 20px 3px rgba(87, 87, 87, 0.5);
    border-radius: 20px;
}

.change-password-page .container h1{
    margin-bottom: 40px;
}

.change-password-page .container button{
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.change-password-page .container .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 50px;
}

.change-password-page .container .submit-btn{
    background-color: #0375f7;
    color: white;
}

.change-password-page .container .submit-btn:hover{
    background-color: rgb(178, 214, 255);
}

.change-password-page .container .back-btn{
    background-color:white;
    color: rgb(110, 110, 110);
    border: 2px solid rgb(202, 202, 202);
    font-weight: 600;
}

.change-password-page .container .back-btn:hover{
    background-color: rgb(230, 230, 230);
}

.change-password-page .customized-input-container{
    margin-top: 30px;
}

@media screen and (max-width: 1240px) {

    .change-password-page > img {
        width: 40%;
    }

}

@media screen and (max-width: 700px) {
    .change-password-page > img {
        display: none;
    }

    .change-password-page .container{
        width: 90%;
    }

    .change-password-page .customized-input-container{
        width: 100%;
    }

    .change-password-page .customized-input-container input{
        width: 100%;
    }
}