.dashboard{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.dashboard .top-section{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.dashboard .top-section > div{
    flex: 1;
    margin: 10px;
    padding: 30px 10px;
    background-image: linear-gradient( #0375f7 ,rgb(168, 209, 255));
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.dashboard .top-section > div > div{
    flex: 1;
}

.dashboard .top-section > div h2, .top-section-container > div h1{
    color: white;
}

.dashboard .top-section > div img{
    width: 65px;
    height: 65px;
}

.dashboard-mid-section{
    width: 98%;
    display: flex;
    align-items: start;
    margin: 10px;
}

.dashboard-mid-section .chart-container{
    width: 70%;
    height: 430px;
    box-shadow: 0 0 10px 2px rgb(182, 182, 182);
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.dashboard-mid-section .pie-container{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-mid-section .account-balance{
    width:30%;
    box-shadow: 0 0 10px 2px rgb(182, 182, 182);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-mid-section .account-balance span{
    color: grey;
    font-weight: 500;
}

.dashboard-mid-section .account-balance > img{
    width: 50px;
    height: 50px;
}

.dashboard-mid-section .account-balance .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboard-mid-section .account-balance .history-btn{
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(221, 221, 221);
}

.dashboard-mid-section .account-balance .history-btn:hover{
    background-color: rgb(156, 156, 156);
}

.dashboard-mid-section .account-balance .withdraw-btn{
    background-color: #0375f7;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.dashboard-mid-section .account-balance .withdraw-btn:hover{
    background-color: #9fccff;
}

.dashboard .task-completed-container{
    width: 98%;
    background-color: white;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 0 0 10px 2px rgb(182, 182, 182);
    border-radius: 10px;
    padding: 20px;
}

.dashboard .task-completed-container .table-container{
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}

.dashboard .task-completed-container table {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

.dashboard .task-completed-container table th{
    padding: 10px;
    background-color: #0375f7;
    color: white;
}

.dashboard .task-completed-container table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.dashboard .loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media screen and (max-width: 1100px){

    .dashboard-mid-section .account-balance{
        width: 40%;
    }

    .dashboard-mid-section .chart-container{
        width: 60%;
    }

    .dashboard .top-section > div h2, .dashboard .top-section > div h1{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px){
    .dashboard .top-section{
        display: grid;
    }


    .dashboard-mid-section{
        flex-direction: column;
        align-items: center;
    }

    .dashboard-mid-section .account-balance{
        margin-top: 20px;
        width: 90%;
    }

    .dashboard-mid-section .chart-container{
        width: 90%;
    }

    .dashboard .task-completed-container{
        width: 90%;
    }

}

@media screen and (max-width: 425px){
    .dashboard .top-section{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .dashboard .top-section > div img{
        width: 40px;
        height: 40px;
    }

}
