.forgot-password-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 50px;
}

.forgot-password-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 0 15px 5px rgba(110, 110, 110, 0.5);
    border-radius: 30px;
}

.forgot-password-page h1{
    margin-bottom: 30px;
    color: #0375f7;
}

.forgot-password-page > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.forgot-password-page > div h1{
    position: absolute;
    top:  0;
    font-size: 50px;
}

.forgot-password-page > div img{
    width: 600px;
    height: 600px;
    margin-top: 35px;
}

.forgot-password-page form h1{
    width: 100%;
}

.forgot-password-page button{
    width: 100%;
    height: 40px;
    color: white;
    font-size: 17px;
    border: none;
    margin-top: 30px;
    background-color: #0375f7;
    cursor: pointer;
}

.forgot-password-page button:hover{
    background-color: #9ecbff;
}

.forgot-password-page a{
    margin-top: 30px;
    color: #0375f7;
    font-size: 18px;
}

.forgot-password-page .customized-input-container{
    margin-top: 30px;
}

@media screen  and (max-width: 1160px){
    .forgot-password-page > div{
        display: none;
    }
}

@media screen  and (max-width: 425px){
    .forgot-password-page form{
        width: 70%;
    }

    .forgot-password-page .customized-input-container{
        width: 100%;
    }

    .forgot-password-page .customized-input-container input{
        width: 100%;
    }
}