.client-header, .provider-header{
    position: fixed;
    right: 0;
    left: 0;
    height: 65px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.provider-header .header-left-div{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.provider-header #title{
    margin-left: 10px;
}

.provider-header .sidebar-toggle-btn{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.provider-header .sidebar-toggle-btn > img{
    width: 100%;
}

#title{
    color: #0375f7;
    font-size: 36px;
    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.middle-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 70px;
    position: relative;
}

.middle-section .search-bar{
    width: 100%;
    min-width: 50px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    padding-left: 10px;
}

.auto-complete{
    width: 95%;
    max-height: 300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 10;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    display: none;
    overflow-y: auto;
}

.auto-complete .service{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 0;
    cursor: pointer;
}

.auto-complete .service:hover{
    background-color: rgb(230, 230, 230);
}

.search-bar::placeholder{
    font-size: 15px;
}

.search-button {
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
}

.search-icon{
    width: 20px;
    height: 20px; 
}

.user-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.user-container > .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}

.user-container > button{
    background-color: rgb(235, 235, 235);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.user-container > button > span{
    position: absolute;
    min-width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 100%;
    top: -5px;
    right: -5px;
}

.user-container > button:hover{
    background-color: rgb(221, 221, 221);
}
  
.user-container > button img{
    width: 50%;
    height: 50%;
}


.drop-down-setting{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    top: calc(88%);
    right: 20px;
    z-index: 20;
}


.profile-picture{
    width: 90px;
    height: 90px;
    border-radius:  50%;
    border: 1px solid rgb(219, 219, 219);
    overflow: hidden;
    margin-top: 20px;
}

#user-fullname{
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 25px;
}

#account-settings-btn, #logout, #transactions-btn{
    width: 240px;
    height: 35px;
    margin-top: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: start;
    padding-left: 50px;
    font-size: 15px;
}


#logout:hover, 
#transactions-btn:hover,
#account-settings-btn:hover{
    background-color: rgb(196, 196, 196);
}

.icon{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 10px;
}

@media screen and (max-width: 425px){
    #title{
        font-size: 30px;
        margin-left: 10px;
    }

    #user-name{
        display: none;
    }

}