.login-parent-container{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-parent-container .container{
    width: 900px;
    height: 530px;
    background-color: white;
    box-shadow: 0 0 10px 15px  rgb(198, 212, 228);
    display: flex;
    border-radius: 10px;
}

.login-parent-container .container .icon-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-parent-container .container .icon-container img{
    width: 70%;
    height: 60%;
}

.login-parent-container .container form{
    width: 50%;
    height: 100%;
}

.login-parent-container .container .right-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(3, 117, 247);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-parent-container .container .right-div h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 80px;
}

.login-parent-container .container input[type ="text"], 
.login-parent-container .container input[type ="password"]{
    width: 100%;
    height: 46px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 30px;
    border: none;
    margin-bottom: 40px;
}

.login-parent-container .container .input-container{
    position: relative;
    width: 70%;
}

.login-parent-container .container .input-icon, 
.login-parent-container .container .check-box-container{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 20px;
    display: flex;
    align-items: center;
}

.login-parent-container .container .check-box-container{
    cursor: pointer;
}

.login-parent-container .container .check-box-container input[type = "checkbox"]{
    display: none;
}

.login-parent-container .container .input-icon img, 
.login-parent-container .check-box-icon img{
    width: 100%;
    height: 100%;
}

.login-parent-container .container .error{
    position: absolute;
    right: 10px;
    bottom: -5px;
    font-size: 15px;
    color: rgb(192, 192, 192);
    padding: 3px;
}

.login-parent-container .container #login-btn{
    background-color: rgb(3, 117, 247);
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.login-parent-container .container #login-btn:hover{
   background-color: rgb(167, 202, 255);
}

.login-parent-container .container .links {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.login-parent-container .container #forgot-pass,
.login-parent-container .container #signup{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.login-parent-container .container #forgot-pass:hover, 
.login-parent-container .container #signup:hover{
    text-decoration: underline;
}



@media  screen and (max-width: 768px) {
    .login-parent-container .container{
        width: 90%;
    }
}

@media  screen and (max-width: 425px) {
    .login-parent-container .container{
        width: 100vw;
        box-shadow: none;
    }
    
    .login-parent-container .container .icon-container{
        display: none;
    }

    .login-parent-container .container .right-div{
        width: 100%;
        background-color: white;
    }

    .login-parent-container .container .right-div h1{
        color: rgb(3, 117, 247);
        margin-bottom: 60px;
    }

    .login-parent-container .container input[type ="text"], 
    .login-parent-container .container input[type ="password"]{
        background-color: rgb(227, 238, 250);
    }

    .login-parent-container .container #login-btn{
        width: 70%;
    }

    .login-parent-container .container #forgot-pass{
        color: rgb(3, 117, 247);
    }

    .login-parent-container .container .error{
        color: red;
    }
}