.services-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;
}

.services-section > h1{
    font-size: 45px;
    text-align: center;
}

.categories-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.services-parent-container{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px 5px rgb(216, 216, 216);
    border-radius: 30px;
    min-height: 500px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    animation: servicesAnimation 0.8s ease-in-out forwards;
}

@keyframes servicesAnimation{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.services-parent-container > h1{
    position: absolute;
    color: white;
    top: 90%;
    transform: translateY(-100%);
    font-size: 35px;
    text-align: center;
    z-index: 1;
}

.services-parent-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}


.services-parent-container:hover .services-child-container{
    opacity: 1;
}

.services-child-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.8s ease-in-out;
}

.services-child-container > p{
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.services-child-container > p:hover{
    transform: translateY(-3px);
    text-decoration: underline;
}

.services-section .prev, .services-section .next{
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 60%;
    border: none;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}

.services-section .prev{
    left: 10px;
}

.services-section .next{
    right: 10px;
}


@media screen and (max-width: 1000px){
    .categories-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px){
    .categories-container{
        grid-template-columns: 1fr;
    }
}