.signup-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-page .container{
    width: 300px;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0 0 10px 8px rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.signup-page .container > form{
    width: 100%;
}

.signup-page .resend{
    color: rgb(3, 117, 247);
    cursor: pointer;
}

.signup-page .resend:hover{
    text-decoration: underline;
}

.signup-page .container > form > div:first-child,
.signup-page .container .email-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup-page .container form .check-box-container{
    display: flex;
    margin-top: 20px;
}

.signup-page .container form .check-box-container input{
    cursor: pointer;
}

.signup-page .container form .check-box-container a{
    font-weight: 600;
    text-decoration: none;
}

.signup-page .container .input-container{
    width: 100%;
    position: relative;
}

.signup-page .container .input-container{
    margin: 20px 0;
}

.signup-page .container input:not([type='checkbox']){
    width: 100%;
    height: 37px;
    outline: none;
    border: 1px solid grey;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
}

.signup-page .input-container span {
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(-50%);
    color: grey;
    font-size: 14px;
    background-color: white;
    padding: 0 5px;
    animation: slide-span ease-in 0.2s;
    display: none;
}

@keyframes slide-span{
    from{
        transform: translateY(10px);
    }

    to{
        transform: translateY(0);
    }
}

.signup-page .container input:focus{
    border-width: 2px;
    border-color:  rgb(92, 168, 255);
}

.signup-page .container input:focus::placeholder {
    color: transparent;
}

.signup-page .input-container input.has-value + span{
    color: grey;
    display: block;
}

.signup-page .input-container input.has-value:focus + span {
    color: rgb(92, 168, 255);
}

.signup-page .error{
    color: red;
    font-size: 14px;
    margin: 10px 0;
}

.signup-page button{
    height: 35px;
    margin: 20px 0;
}

.signup-page button:not(:disabled){
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgb(3, 117, 247);
}

.signup-page button:not(:disabled):hover{
    background-color: rgb(159, 204, 255);
}


.signup-page  a{
    margin-left: 5px;
    color: rgb(3, 117, 247);
}