.signup-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup-page > img{
    width: 700px;
    height: 700px;
}

.signup-page .container{
    width: 350px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px;
    background-color: white;
    box-shadow: 0 0 20px 5px #acacac;
}

.signup-page .container > form{
    width: 100%;
}

.signup-page .resend{
    color: rgb(3, 117, 247);
    cursor: pointer;
}

.signup-page .resend:hover{
    text-decoration: underline;
}

.signup-page .container > form > div:first-child,
.signup-page .container .email-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup-page .container form .check-box-container{
    display: flex;
    margin-top: 20px;
}

.signup-page .container form .check-box-container input{
    cursor: pointer;
}

.signup-page .container form .check-box-container a{
    font-weight: 600;
    text-decoration: none;
    margin: 0 5px;
}

.signup-page .container .input-container{
    width: 100%;
    position: relative;
}

.signup-page .container .input-container{
    margin: 20px 0;
}

.signup-page .container input:not([type='checkbox']){
    width: 100%;
    height: 45px;
    outline: none;
    border: 1px solid grey;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
}

.signup-page .input-container span {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: grey;
    font-size: 14px;
    background-color: white;
    padding: 0 7px;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}


.signup-page .container input:focus{
    border-width: 2px;
    border-color:  rgb(3, 117, 247);
}

.signup-page .container input:focus::placeholder {
    color: transparent;
}

.signup-page .input-container input.has-value + span{
    color: grey;
    opacity: 1;
    transform: translateY(-30px);
}

.signup-page .input-container input.has-value:focus + span {
    color: rgb(3, 117, 247);
}

.signup-page .error{
    color: red;
    font-size: 14px;
    margin: 10px 0;
}

.signup-page button{
    height: 45px;
    font-size: 16px;
    margin: 20px 0;
    font-weight: 600;
    border-radius: 10px;
}

.signup-page button:not(:disabled){
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgb(3, 117, 247);
}

.signup-page button:not(:disabled):hover{
    background-color: rgb(159, 204, 255);
}


.signup-page  a{
    margin-left: 5px;
    color: rgb(3, 117, 247);
}

@media screen and (max-width: 1180px){
    .signup-page > img{
        width: 40%;
    }
}

@media screen and (max-width: 725px){
    .signup-page > img{
        display: none;
    }
}